<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Portoflio Page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="styles/style.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="vendors/bulma.css" />
    <link rel="stylesheet" type="text/css" href="vendors/font-awesome/css/font-awesome.min.css">
    <script src="vendors/angular/angular.js"></script>
    <script src="scripts/client.js"></script>
</head>

<body ng-cloak ng-app="myApp">


    <main ng-view></main>
</body>
</body>

</html>