.project {
    transition: all 0.2s ease;
    cursor: pointer;
}

.project:hover {
    transform: scale(1.05);
}
.project--blackKeys {
    color: white;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom;
    background-color: violet;
}